.items{
  margin: 10px auto;
  width: 65%;
  padding: 15px 20px;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  border: 2px solid #aaa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.items p{
  word-break: break-all;
}
.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100px;
}
.btn{
  padding: 8px;
  background-color: rgb(23, 232, 243);
  color: #fff;
  border: none;
  border-radius: 5px;
}
.checkTrue{
  text-decoration: line-through;
  opacity: 0.6;
}